{{#each this}}
<div class="card">
  <div class="card-header">
    {{type}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{id}}</h5>
    <p class="card-text">{{description}}</p>
  </div>
</div>
{{/each}}